.animation-div {
    background-color: #70645C;
    width: 200px;
    height: 200px;
    color: white;
    border-radius: 100%;
    text-align: center;
    border: 1px #70645C solid;
    overflow: hidden;
    margin-left: 0px;
}

.animation-div h3 {
    margin-top: 3px;
}

.animation-div div {
    height: 60%;
    margin-bottom: 0;
    background-color: white;
}

.animation-container {
    width: 80%;
    display: grid;
    
    grid-template-columns: repeat(4, auto);
    border: 1px yellow solid;
    /* align-content: space-evenly; */
    justify-content: space-between;
    padding-left: 0;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
}

@media all and (min-width: 768px) and (max-width: 1064px) {

    .animation-div {
        width: 150px;
        height: 150px;
    }

    .animation-div div {
        height: 60%;
        margin-bottom: 0;
        /* background-color: rgb(158, 42, 42); */
    }

    .animation-div img {
        width: 110px;
    }
    .animation-div h3 {
        font-size: 15px;
    }
    
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
    .animation-div {
        width: 100px;
        height: 100px;
    }

    .animation-div div {
        height: 60%;
        margin-bottom: 0;
        /* background-color: rgb(42, 150, 158); */
    }

    .animation-div img {
        width: 75px;
    }
    .animation-div h3 {
        font-size: 12px;
    }
}