.best-seller h1 {
    color: #70645C;
    text-align: center;
}

.best-seller {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.checked {
    color: rgb(15, 118, 136);
}

.best-sell-item {
    /* width: 200px; */
   
    /* height: 300px; */
    /* border: 1px violet solid; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.best-sell-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-bottom: 0;
}

.best-sell-item>p {
    margin-top: 3px;
}

.best-sell-item div {
    /* padding: 2px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border:  1px solid black; */
}

.best-seller-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    /* align-self: center; */
    padding-top: 10px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid aqua; */
    gap: 30px;
}

.view-all-button{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    /* padding: 10px; */
    border: 1px #70645C solid;
    color: #70645C;
    cursor: pointer;
    box-shadow: #70645C 0px 5px 15px;
    margin: auto;
    margin-top: 20px;
}

.view-less-button{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    /* padding: 10px; */
    border: 1px #70645C solid;
    color: #70645C;
    cursor: pointer;
    box-shadow: #70645C 0px 5px 15px;
    margin: auto;
    margin-top: 20px;
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .best-seller-div{
        grid-template-columns: repeat(4, 1fr);
    }
    .best-sell-item {
        height: 300px;
    }
    
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
    .best-seller-div{
        grid-template-columns: repeat(2, 1fr);
    }
    /* .best-sell-item {
        width: 160px;
       
    } */
}